// ────────────── Startup Applications ──────────────

// ────────────── Core Services ──────────────
spawn-at-startup       "xwayland-satellite"
spawn-at-startup       "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"


// ────────────── Notifications & UI ──────────────
spawn-at-startup        "swaync"
spawn-at-startup        "swww-daemon"
spawn-at-startup        "~/.config/waybar/scripts/launch.sh"


// ────────────── Niri Custom Scripts ──────────────
spawn-at-startup        "~/.config/niri/scripts/welcome.sh"
spawn-at-startup        "~/.config/niri/scripts/set-wallpaper.sh"
spawn-at-startup        "~/.config/niri/scripts/battery-monitor.sh"
