layout {
    focus-ring {
        active-color "#86d1e9"
        inactive-color "#899296"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#86d1e9"
        inactive-color "#899296"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#86d1e9"
        inactive-color "#899296"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#86d1e980"
    }
}

