// ────────────── Output ──────────────

output "eDP-1" {
        // or keep at 1.0 if you prefer more workspace.
        scale 1
        
        // Mode and position
        mode "1440x900@60"
        position x=0 y=0
}