/* Matugen -> Rofi colors (Dynamic Template) */
* {
    /* Background and Foreground */
    background:     #19120d;
    foreground:     #f0dfd6;
    
    /* Primary Accents */
    primary:        #ffb781;
    on-primary:     #4e2500;
    
    /* UI Details */
    outline:        #9f8d83;
    error:          #ffb4ab;
    
    /* Harmonized Secondary */
    secondary:      #e4bfa7;
}