/* Matugen -> Rofi colors (Dynamic Template) */
* {
    /* Background and Foreground */
    background:     #0f1416;
    foreground:     #dee3e6;
    
    /* Primary Accents */
    primary:        #86d1e9;
    on-primary:     #003642;
    
    /* UI Details */
    outline:        #899296;
    error:          #ffb4ab;
    
    /* Harmonized Secondary */
    secondary:      #b3cad3;
}